<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Description" value="AJ_agv通讯服务节点"/>
    <add key="DisplayName" value="AJ_Server"/>
    <add key="ServiceName" value="AJ_Server"/>
  </appSettings>
</configuration>