<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <!-- 服务配置参数 -->
    <add key="Description" value="GALAXIS_agv通讯服务节点" />
    <add key="DisplayName" value="GALAXIS_AGV_Server" />
    <add key="ServiceName" value="GALAXIS_AGV_Server" />
    <!-- 服务配置参数END -->
    <!-- AGV数量配置 -->
    <add key="agvCount" value="1,2,3,4,5" />
    <!-- AGV数量配置END -->
    <!-- 叉车库编码 -->
    <add key="SourceCode" value="A14" />
    <!-- WCS编码 -->
    <add key="WCSarecore" value="A20" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- 门控强制开关 1强制开启 2强制关闭 0默认 -->
    <add key="DoorON" value="0"/>
    <!-- 开启AGV门控 1开启 0关闭-->
    <add key="IsRunDoor" value="1"/>
  </appSettings>
  <!-- 数据库连接字符 -->
  <connectionStrings>
    <add name="DateBaseText" providerName="MySql.Data.MySqlClient" connectionString="Server =127.0.0.1;database=mercedesbenzdb; uid =root; pwd =123456" />
    <add name="DateBaseWebText"  connectionString="Server =172.16.29.53;database=mercedesbenzdb; uid =root; pwd =root" />
  </connectionStrings>
  <!-- 数据库连接字符END -->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>