<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <!-- 数据库连接字符 -->
  <connectionStrings>
    <add name="DateBaseText" connectionString="Server =172.16.29.53;database=mercedesbenzdb; uid =root; pwd =root" />
    <add name="DateBaseWebText" connectionString="Server =172.16.29.53;database=mercedesbenzdb; uid =root; pwd =root" />
  </connectionStrings>
  <!-- 数据库连接字符END -->
</configuration>