<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>  <appSettings>
    <!-- 服务配置参数 -->
    <add key="Description" value="GALAXIS_agv通讯服务节点" />
    <add key="DisplayName" value="GALAXIS_AGV_Server" />
    <add key="ServiceName" value="GALAXIS_AGV_Server" />
    <!-- 服务配置参数END -->
    <!-- AGV数量配置 -->
    <add key="agvCount" value="1,2,3,4,5" />
    <!-- AGV数量配置END -->
    <!-- 叉车库编码 -->
    <add key="SourceCode" value="A14" />
    <!-- WCS编码 -->
    <add key="WCSarecore" value="A20" />
    <!-- 开启门控 -->
    <add key="DoorON" value="0"/>
    <add key="IsRunDoor" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!-- 数据库连接字符 -->
  <connectionStrings>
    <add name="DateBaseText" connectionString="Server =127.0.0.1;database=mercedesbenzdb; uid =root; pwd =root" />
    <add name="DateBaseWebText" connectionString="Server =172.16.29.53;database=mercedesbenzdb; uid =root; pwd =root" />
  </connectionStrings>
  <!-- 数据库连接字符END -->
</configuration>